body {
    background-color: #668096;

}

#headBar {

}

#headTitle {
    margin: auto;
    display: block;
    background-color: #5b7387;
    height: 100px;
    width: 30%;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: white;
    margin: auto;
    padding: 30px;
}
table,
td {
    margin-left: 10%;
    margin-top: 4%;
    font-size : 35px;
    text-align: center;
    border : 3px solid;
}
