body {
    background-color: #668096;
}

#headBar {
    margin: auto;
    display: block;
    background-color: #5b7387;
    height: 100px;
    width: 30%;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: white;
    margin: auto;
    padding: 30px;
}